body, h1, h2,p{
    margin: 0;
    padding: 0;
}
body {
   font-family: 'Times New Roman',  serif;
   line-height: 1.5;
   background-color:  lightgreen; 
}
header {
    text-align: center;
    background-color: black;
    color: white;
    padding: 35px;
}
main {
 width: 80%;
 margin: 20px auto; 
 background-color: whitesmoke;
 padding: 20px; 
}
section {
    margin: 50px 0;
}
footer {
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 16px;
    padding: 10px 0;
}